.git
.github
.gitignore
log/*
tmp/*
db/*.sqlite3
db/*.sqlite3-*
storage/*
spec/
.rspec
.rubocop.yml
.rubocop_todo.yml
.ruby-lsp/
.secret
output.json
pr_body.txt
rails_server.log
native/
README.md
vendor/bundle
node_modules
.dockerignore
Docker*
docker-compose*
