<div class="page-header">
  <h1>Movies</h1>
  <% if logged_in? %>
    <%= link_to 'New Movie', new_movie_path, class: 'sleek-btn sleek-btn-primary' %>
  <% end %>
</div>

<turbo-frame id="items_list">
  <div class="media-grid-2026">
    <% @movies.each do |movie| %>
      <%= render partial: 'shared/media_card', locals: { media_item: movie } %>
    <% end %>
  </div>

  <div class="pagination-wrapper">
    <%= paginate @movies %>
  </div>
</turbo-frame>
