<div class="page-header">
  <% if logged_in? %>
    <%= link_to 'New Comic', new_comic_path, class: 'sleek-btn sleek-btn-primary' %>
  <% end %>
</div>

<turbo-frame id="items_list">
  <div class="media-grid-2026">
    <% @comics.each do |comic| %>
      <%= render partial: 'shared/media_card', locals: { media_item: comic } %>
    <% end %>
  </div>

  <div class="pagination-wrapper">
    <%= paginate @comics %>
  </div>
</turbo-frame>
